<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="gallery.css">
    <title>Document</title>
</head>
<body>
    <!-- Image Gallery -->
<div class="pictures-section">
    <div class="pictures-heading">
        <h1>Check out our pictures below!</h1>
    </div>
    <div class="pictures">
        <div class="pictures-cell">
            <img src="../gallery/1.jpg" alt="" class="pictures-cell_img">
            <div class="pictures-cell_text">Digital Marketing</div>
        </div>
        <div class="pictures-cell">
            <img src="gallery/2.jpg" alt="" class="pictures-cell_img">
            <div class="pictures-cell_text">Words</div>
        </div>
        <div class="pictures-cell">
            <img src="gallery/3.jpg" alt="" class="pictures-cell_img">
            <div class="pictures-cell_text">Doreg</div>
        </div>
        <div class="pictures-cell">
            <img src="gallery/4.jpg" alt="" class="pictures-cell_img">
            <div class="pictures-cell_text">asdf</div>
        </div>
        <div class="pictures-cell">
            <img src="gallery/5.jpg" alt="" class="pictures-cell_img">
            <div class="pictures-cell_text">rtyuk</div>
        </div>
        <div class="pictures-cell">
            <img src="gallery/6.jpg" alt="" class="pictures-cell_img">
            <div class="pictures-cell_text">3y5</div>
        </div>
        <div class="pictures-cell">
            <img src="gallery/7.jpg" alt="" class="pictures-cell_img">
            <div class="pictures-cell_text">srth</div>
        </div>
        <div class="pictures-cell">
            <img src="gallery/8.jpg" alt="" class="pictures-cell_img">
            <div class="pictures-cell_text">srth</div>
        </div>
        <div class="pictures-cell">
            <img src="gallery/9.jpg" alt="" class="pictures-cell_img">
            <div class="pictures-cell_text">srth</div>
        </div>
    </div>

</div>

    <script src="app.js"></script>
</body>
</html>