/* :root {
    --darkgray: #212329;
    --lightgray: #b1b1b1;
    --brightred: #F9423D;
    --white: #fff;
    --lightred: #f9433dcc;
    --lightblue: #337af1;
}

.pictures-section {
    background-color: var(--darkgray);
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding-bottom: 8rem;
} */